

.whole {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 10px;
    margin-top: 7%;
    margin-left: 10%;
}

.blur-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 1200px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 10px;
    margin-top: 7%;
    margin-left: 10%;
    font-family: sans-serif;
    filter: blur(8px);
    pointer-events: none;
  }

.form1 {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    background-color: white;
    text-align: left;
    
}

.submitbt {
    background-color: #802cec;
    width:80%;
    height: 8%;
    color: white;
    border-radius: 5px;
    margin-top: 30%;
    margin-left: 10%;
    border: #802cec;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.whole h1{
    margin-left: 10%;
    margin-top: 5%;
}

.blur-container h1{
    margin-left: 10%;
    margin-top: 5%;
}

.inputicon{
    margin-left: 12%;
    display: flex;
    flex-direction: row;
    height: 10px;
    margin-top: 8%;
}

.inputicon input {
    width: 63%;
    border: none;
    background: none;
    font-size: 1em;
    color: black;
    padding: 1rem;
    background-color: none;
    margin-left: 2%;
  }

  .submitbt:hover {
    background-color: #6322b8;
  }

.changebt {
    margin-top: 1%;
    background: none;
    color: #802cec;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.changebtp {
    color: #000;
    margin-left: 25%;
    font-size: 1em;
}

.imageclass img {
    width: 100%;
    height: 100%;
  }

.imageclass {
    width: 55%;
    height: auto;
    background-color: black;
}

.popup {
    position: fixed;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 14%;
    left: 34%;
    font-family: sans-serif;
    width: 35%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 10px;
  }

  .popup-header{
    background-color: #802cec;
    color: white;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
  }

  .content-container {
    display: flex;
    justify-content: center; 
  }

  .content-column{
    width: 100%;
    margin-left: 8%;
  }
  
  .line-content {
    display: flex;  
    margin-bottom: -2.5%;
  }
  
  .content-row-left {
    width: 40%;
    text-align: left;
  }
  
  .content-row-right {
    width: 60%;
    text-align: left;
    margin-right: 8%;
  }

  .button-container {
    background-color: rgb(232, 224, 224);
    padding: 15px;
    border-radius: 0px 0px 20px 20px;
    text-align: left;
    margin-top: 3%;
  }

  .cancelbt {
    background-color: #fb466b;
    color: white;
    padding: 20px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 600;
    margin-left: 6%;
    width: 40%;
  }
  
  .cancelbt:hover {
    background-color: darkred;
  }
  
  .proceedbt {
    background-color: #802cec;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 8%;
    transition: background-color 0.3s;
    font-size: 1.1em;
    font-weight: 600;
    width: 40%;
  }
  
  .proceedbt:hover {
    background-color: darkgreen;
  }

  .failed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-180%, -100%);
    background-color: none;
    padding: 20px;
    font-style: italic;
    color: red;
  }
  
  .line {
    border-top: 3px solid #802cec;
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
  }
  .line2 {
    border-top: 5px solid #802cec;
    border-radius: 30px;
    width: 8%;
    margin-left: 10%;
    margin-top: -3%;
    
  }
  
  .result-popup {
    position: fixed;
    top: 3%;
    left: 2%;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 18%;
    text-align: center;
    padding: 0.1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 1em;
    animation-name: slideInLeft;
    animation-duration: 1s;
  }

  .result-popup::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(23, 213, 23);
    animation-name: decreaseWidth;
    animation-duration: 5s; 
  }

  .result-popup2 {
    position: fixed;
    top: 3%;
    left: 2%;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 18%;
    text-align: center;
    padding: 0.1px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 1em;
    animation-name: slideInLeft;
    animation-duration: 1s;
  }

  .result-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 7%;
  }

  .result-content p {
    margin-left: 5%;
  }

  .icon{
    margin-top: 3%;
  }

  .result-popup2::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 49, 49);
    animation-name: decreaseWidth;
    animation-duration: 5s; 
  }

  @keyframes slideInLeft {
    from {
      left: -10%;
    }
    to {
      left: 2%; 
    }
  }
  @keyframes decreaseWidth {
    0% {
      width: 100%;
    }
    100% {
      width: 0; 
    }
  }

  .cb-label3{
    font-style: italic;
    color: gray;
    font-size: 0.87rem;
    text-align: left;
    margin-top: 17%;
    margin-bottom: -25%;
    margin-left: 10%;
  }